.oim-edit-control,
.oim-editor-menu {
  background-color: var(--oim-ctrl-bg);
}

.oim-edit-control button,
.oim-editor-menu button {
  font-size: inherit;
}

.oim-edit-control {
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: var(--oim-ctrl-shadow);
  border: 1px solid var(--oim-ctrl-border);
  background: var(--oim-ctrl-bg);
  backdrop-filter: var(--oim-blur);
  transition:
    opacity 0.25s,
    visibility 0.25s;
  opacity: 0;
  visibility: hidden;
}

.oim-edit-control.active {
  opacity: 1;
  visibility: visible;
}

.oim-edit-control button + button {
  border-left: 1.5px solid var(--oim-ctrl-border);
}

.oim-editor-menu {
  font-size: 0.9rem;
  box-shadow: var(--oim-ctrl-shadow);
  border: 1px solid var(--oim-ctrl-border);
  border-radius: 10px;
  background: var(--oim-ctrl-bg);
  backdrop-filter: var(--oim-blur);
  padding: 0;
  list-style-type: none;
  margin-bottom: 3px !important;
  transition:
    opacity 0.1s,
    visibility 0.1s;
  opacity: 0;
  visibility: hidden;
}

.oim-editor-menu.active {
  opacity: 1;
  visibility: visible;
}

.oim-editor-menu button {
  cursor: pointer;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border: 0;
  width: 100%;
  text-align: left;
}

.oim-edit-control button {
  cursor: pointer;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border: 0;
}
